{% extends "mainnav.html" %}
{% block content %}  

<form method="post" enctype="multipart/form-data" >
 
   
        <div class="md:flex items-center gap-10">
            <label class="md:w-32 text-right"> File </label>
            <div class="flex-1 max-md:mt-4">
                <input type="file" name ="images"  class="lg:w-1/2 w-full" multiple>
            </div>
        </div>
        
    
    </div>

    <div class="flex items-center gap-4 mt-16 lg:pl-[10.5rem]">
        <button type="submit" class="button lg:px-10 bg-primary text-white max-md:flex-1"> Save <span class="ripple-overlay"></span></button>
    </div>
</form>


{%for item in menu_items %}
{{item}}
{%endfor%}

{%endblock%}